h1 {
    color: black;
}

#inst{
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
}

.container {
    background-color:azure;
    max-width: 600px;
    text-align: center;
    border:15px;
    border-style: solid;
    border-color: crimson;
    box-shadow: 10px 10px 5px 0;
    margin: 100px auto;

  
}

#chars {
    color: olivedrab;
}

.error {
    color:red;
    font-weight: bold;
    display: block;
}

.ok {
    color: green;
    display: block;
    padding-top: 10px;
}

#submitBtn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

